.gridCn {
	/* Removed float: right because content wouldn't wrap if grid extended into cols 1 or 2
	 * @see http://basf-cp.localhost:2203/yield-challenge/clearfield-canola-challenge/VIC
	 * float: right;
	 */
	margin: 25px 0 0 0;
}
.ie6 .gridCn,
.ie7 .gridCn {
	float: right;
}
.gridFullWidth .gridCn {
	float: none;
	width: 720px;
}
.gridRow {
	min-height: 180px;
	margin: 0;
	float: right;
	clear: both;
}
.ie6 .gridRow {
	height: 180px;
	width: 740px;
}
.ie7 .gridRow {
	min-height: 180px;
	width: 720px;
}
.gridCell {
	width: 170px;
	height: 170px;
	float: right;
	margin: 0 0 10px 10px;
	overflow: hidden;
	background: #efefef;
}
.ie6 .gridCell {
	float: right !important;
	margin: 0 0 10px 10px !important;
}
.ie6 .gridCell.colSpan1 a .suffix,
.ie7 .gridCell.colSpan1 a .suffix {
	display: block;
}

.ie6 .gridCell.colSpan1 a .suffix .file,
.ie7 .gridCell.colSpan1 a .suffix .file {
	position: absolute;
}

.heightAuto {
	height: auto;
}
.gridCell.placeholder {
	background: transparent;
}
.gridCell.colSpan2,
#bd .colSpan2 {
	width: 350px;
}
.gridCell.colSpan3,
#bd .colSpan3 {
	width: 530px;
}
.gridCell.colSpan4,
#bd .colSpan4 {
	width: 710px;
}
.gridCell.rowSpan2 {
	height: 350px;
}
.gridCell.rowSpan3 {
	height: 530px;
}
.gridCell.rowSpan4 {
	height: 710px;
}
.gridCell.rowSpan5 {
	height: 890px;
}
.gridCell.rowSpan6 {
	height: 1070px;
}
.gridCell.rowSpan7 {
	height: 1250px;
}
.gridCell.rowSpan8 {
	height: 1430px;
}
.gridCell.rowSpan9 {
	height: 1610px;
}
.gridCell.rowSpan10 {
	height: 1790px;
}

.gridRow.afterRowSpan2 {
	margin-top: -180px;
}
.gridRow.afterRowSpan3 {
	margin-top: -360px;
	margin-bottom: 360px;
}
.gridRow.afterRowSpan4 {
	margin-top: -540px;
	margin-bottom: 540px;
}
.gridRow.afterRowSpan5 {
	margin-top: -720px;
	margin-bottom: 720px;
}
.gridRow.afterRowSpan6 {
	margin-top: -900px;
	margin-bottom: 900px;
}
.gridRow.afterRowSpan7 {
	margin-top: -1080px;
	margin-bottom: 1080px;
}
.gridRow.afterRowSpan8 {
	margin-top: -1260px;
	margin-bottom: 1260px;
}
.gridRow.afterRowSpan9 {
	margin-top: -1440px;
	margin-bottom: 1440px;
}
.gridRow.afterRowSpan10 {
	margin-top: -1620px;
	margin-bottom: 1620px;
}

.gridRow .overflow {
	overflow: visible;
}

.gridCell .bd {
	margin: 10px;
}
.gridCell.TeaserImageWidget .bd {
	margin: 0 5px 0 10px;
}
.gridCell.TeaserImageWidget img {
	margin-bottom: 6px;
}
.gridCell.TeaserImageWidget h3 {
	margin-bottom: 4px;
}
.gridCell.TeaserImageWidget p {
	line-height: 1.4;
}

.MultiTeaserBlockWidget ul,
.MultiTeaserBlockWidget li {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none; /* for IE */
}
.MultiTeaserBlockWidget li {
	height: 80px;
    margin-bottom: 10px;
}
.ie6 .MultiTeaserBlockWidget li {
	margin-bottom: 7px;
}
.MultiTeaserBlockWidget.FourGridCells li {
  height: 170px;
}
.MultiTeaserBlockWidget.FourGridCellsTwoColumn {
    background: transparent;
    margin-right: -10px;
	width: 720px;
}
.MultiTeaserBlockWidget.FourGridCellsTwoColumn li {
	height: 170px;
    margin-bottom: 10px;
    width: 350px;
    float: left;
}
.MultiTeaserBlockWidget.itemRowSpan1 li {
	height: 170px;
}
.MultiTeaserImageBlockWidget li .image {
	width: 170px;
	height: 80px;
	float: left;
}
.MultiTeaserImageBlockWidget.itemRowSpan1 li .image {
	height: 160px;
}
.MultiTeaserImageBlockWidget.FourGridCells li .image {
	height: 160px;
	width: 350px;
}
.MultiTeaserBlockWidget li .bd {
	float: left;
	width: 150px;
	height: 73px;
	margin: 5px 10px 0 20px;
}
.MultiTeaserBlockWidget.FourGridCells li .bd {
	position: relative;
	padding-right: 190px;
	margin-right: 0;
}
.MultiTeaserBlockWidget.FourGridCells li .bd span.arrow {
	background: url('/pagewidget/images/arrow-button.png') no-repeat;
	height: 33px;
	position: absolute;
	right: 20px;
	top: 70px;
	width: 33px;
}
.MultiTeaserBlockWidget.colSpan3 li .bd {
	width: 330px;
}
.MultiTeaserBlockWidget li .bd h3 {
	height: 18px;
    margin-bottom: 2px;
    overflow: hidden;
}
.MultiTeaserBlockWidget li .bd p {
	max-height: 30px;
    margin: 4px 0;
    overflow: hidden;
}
.MultiTeaserBlockWidget.FourGridCells li .bd p {
	color: #666;
	max-height: 85px;
}
.MultiTeaserBlockWidget.itemRowSpan1 li .bd p {
	margin-bottom: 1em;
    max-height: 10em;
}
.MultiTeaserBlockWidget.FourGridCells .widget-link {
	margin-top: 1.8em;
}
.NewsWidget .bd {
	margin: 3px 10px;
}
.NewsWidget li {
    list-style-image: none !important; /* for ie6 */
    list-style: none !important;
	margin: 0 0 15px;
	padding: 0;
}
.ie6 .NewsWidget li {
	margin-bottom: 0px;
}

.gridCell a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	display: block;
}
.gridCell a:hover {
	text-decoration: underline;
}

.ie6 .LinkListWidget ul li,
.ie7 .LinkListWidget ul li {
	list-style-image: none;
}

.LinkListWidget li {
	list-style: none;
	margin: 0 0 6px 6px;
	padding: 0;
}
.LinkListWidget li a {
	padding-left: 22px !important;
}
.ie6 .LinkListWidget li a {
	display: inline;
}
.ie6 #primary .contentTop {
	position: absolute;
	top: 237px;
}

.loginWidget {
	background-color: #9ACD7F;
}
.loginWidget h3,
.loginWidget h4,
.loginWidget form,
.loginWidget a,
.ie6 .loginWidget a {
	color: white;
}
.loginWidget h3 {
	margin: 6px 0 8px;
}
.loginWidget input {
	width: 140px;
}
.loginWidget .button,
.loginWidget .remember input {
	width: auto;
}
.ie6 .loginWidget,
.ie7 .loginWidget {
	position: relative;
}
.ie6 .loginWidget .button,
.ie7 .loginWidget .button {
	position: absolute;
	top: 110px;
}
.ie6 .loginWidget .submit,
.ie7 .loginWidget .submit {
	height: 15px;
}
.ie6 .loginWidget .links,
.ie7 .loginWidget .links {
	position: absolute;
	top: 135px;
}

.loginWidget .remember,
.loginWidget .submit {
	margin: 8px 0 10px;
}
.loginWidget .remember {
	float: right;
}
.ie6 .loginWidget .remember {
	margin-bottom: 0;
}

.webkit input.button {
	padding: 1px 4px 3px 3px;
}
.loginWidget .bullet {
	margin: 4px 13px 0 0;
	background-color: #fff;
}

.QuickFinderWidget h4 {
	margin-bottom: 10px;
}
.QuickFinderWidget label {
	display: block;
	margin-top: 9px;
	font-weight: bold;
}
.QuickFinderWidget select {
	width: 100%;
}
.QuickFinderWidget form {
	margin-bottom: 10px;
}
.QuickFinderWidget .bullet {
	display: none;
}
.QuickFinderWidget .button {
	margin-top: 5px;
	width: auto;
}
.QuickFinderWidget input {
	width: 140px;
}
.QuickFinderWidget select {
	width: 144px;
}